@import url("newstyle"); 
@media only screen and (max-width: 1199px) {
.crearp{
    position: relative;
    width: 600px;
    height: 800px;
    left: -21px;
    top: 0px;
    background: rgba(145, 208, 204, 1);
  }
.btn{
    font-size: 25px;
    background-color: rgba(145, 208, 204, 1);
  }
.btn-info{
  margin-left: 20px;
  width: 250px;
  height: 76;
  margin-right: 20px;
}
.botones{
  display: flex;
  justify-content: space-between;
}
.btn-warning{
  margin-left: 30px;
  width: 250px;
  height: 76;
  background-color: rgba(145, 208, 204, 1);
}
.primerc {
    position: absolute;
    width: 600px;
    height: 217px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .titulo {
    width: 513px;
    height: 60px;
    margin: 30px 50px 20px 70px;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .isesion {
    width: 174px;
    height: 30px;
    left: 330px;
    top: 34px;
    position: absolute;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .isesion:hover{
    text-decoration: underline;
  }
  .ccuenta {
    width: 172px;
  height: 30px;
  left: 450px;
  top: 34px;
  position: absolute;
  color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .ccuenta:hover{
    text-decoration: underline;
  }
  .linea {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: -24px;
    border: solid 2px rgba(248, 250, 250, 1);
    display: flex;
  }
  .crear {
    position: absolute;
    width: 250px;
    height: 77px;
    left: 45px;
    top: 102px;
    border-radius: 10px;
    background: rgba(89, 165, 159, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
  }
  .buscar {
    position: absolute;
    width: 250px;
    height: 76px;
    left: 330px;
    top: 102px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  }
  .nombrep {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 244px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .codigo {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 349px;
    border-radius: 15px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
  }
  .descripcion {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 440px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .marca {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 510px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    border-radius: 15px;
    line-height: 1.2;
  }
  .unidades {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 580px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 15px;
    font-weight: 400;
    line-height: 1.2;
  }
  .imagenes{
    position: absolute;
  width: 220px;
  height: 220px;
  left: 350px;
  top: 240px;
  }
  .subirarchivo{
  position: absolute;
  width: 150px;
  height: 77px;
  left: 400px;
  top: 673px;
  border-radius: 50px;
  background: rgba(89, 165, 159, 1);
  color: rgba(0, 0, 0, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
}
}
@media only screen and (max-width: 600px) {
.crearp{
    position: relative;
    width: 600px;
    height: 800px;
    left: -21px;
    top: 0px;
    background: rgba(145, 208, 204, 1);
  }
.btn{
    font-size: 25px;
    background-color: rgba(145, 208, 204, 1);
  }
.btn-info{
  margin-left: 20px;
  width: 250px;
  height: 76;
  margin-right: 20px;
}
.botones{
  display: flex;
  justify-content: space-between;
}
.btn-warning{
  margin-left: 30px;
  width: 250px;
  height: 76;
  background-color: rgba(145, 208, 204, 1);
}
.primerc {
    position: absolute;
    width: 600px;
    height: 217px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .titulo {
    width: 513px;
    height: 60px;
    margin: 30px 50px 20px 70px;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .isesion {
    width: 174px;
    height: 30px;
    left: 330px;
    top: 34px;
    position: absolute;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .isesion:hover{
    text-decoration: underline;
  }
  .ccuenta {
    width: 172px;
  height: 30px;
  left: 450px;
  top: 34px;
  position: absolute;
  color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .ccuenta:hover{
    text-decoration: underline;
  }
  .linea {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: -24px;
    border: solid 2px rgba(248, 250, 250, 1);
    display: flex;
  }
  .crear {
    position: absolute;
    width: 250px;
    height: 77px;
    left: 45px;
    top: 102px;
    border-radius: 10px;
    background: rgba(89, 165, 159, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
  }
  .buscar {
    position: absolute;
    width: 250px;
    height: 76px;
    left: 330px;
    top: 102px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  }
  .nombrep {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 244px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .codigo {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 349px;
    border-radius: 15px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
  }
  .descripcion {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 440px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .marca {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 510px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    border-radius: 15px;
    line-height: 1.2;
  }
  .unidades {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 580px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 15px;
    font-weight: 400;
    line-height: 1.2;
  }
  .imagenes{
    position: absolute;
  width: 220px;
  height: 220px;
  left: 350px;
  top: 240px;
  }
  .subirarchivo{
  position: absolute;
  width: 150px;
  height: 77px;
  left: 400px;
  top: 673px;
  border-radius: 50px;
  background: rgba(89, 165, 159, 1);
  color: rgba(0, 0, 0, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
}
}@media only screen and (max-width: 600px) {
.crearp{
    position: relative;
    width: 600px;
    height: 800px;
    left: -21px;
    top: 0px;
    background: rgba(145, 208, 204, 1);
  }
.btn{
    font-size: 25px;
    background-color: rgba(145, 208, 204, 1);
  }
.btn-info{
  margin-left: 20px;
  width: 250px;
  height: 76;
  margin-right: 20px;
}
.botones{
  display: flex;
  justify-content: space-between;
}
.btn-warning{
  margin-left: 30px;
  width: 250px;
  height: 76;
  background-color: rgba(145, 208, 204, 1);
}
.primerc {
    position: absolute;
    width: 600px;
    height: 217px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .titulo {
    width: 513px;
    height: 60px;
    margin: 30px 50px 20px 70px;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .isesion {
    width: 174px;
    height: 30px;
    left: 330px;
    top: 34px;
    position: absolute;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .isesion:hover{
    text-decoration: underline;
  }
  .ccuenta {
    width: 172px;
  height: 30px;
  left: 450px;
  top: 34px;
  position: absolute;
  color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .ccuenta:hover{
    text-decoration: underline;
  }
  .linea {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: -24px;
    border: solid 2px rgba(248, 250, 250, 1);
    display: flex;
  }
  .crear {
    position: absolute;
    width: 250px;
    height: 77px;
    left: 45px;
    top: 102px;
    border-radius: 10px;
    background: rgba(89, 165, 159, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
  }
  .buscar {
    position: absolute;
    width: 250px;
    height: 76px;
    left: 330px;
    top: 102px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  }
  .nombrep {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 244px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .codigo {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 29px;
    top: 349px;
    border-radius: 15px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
  }
  .descripcion {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 440px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .marca {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 510px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    border-radius: 15px;
    line-height: 1.2;
  }
  .unidades {
    position: absolute;
    width: 550px;
    height: 55px;
    left: 29px;
    top: 580px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 15px;
    font-weight: 400;
    line-height: 1.2;
  }
  .imagenes{
    position: absolute;
  width: 220px;
  height: 220px;
  left: 350px;
  top: 240px;
  }
  .subirarchivo{
  position: absolute;
  width: 150px;
  height: 77px;
  left: 400px;
  top: 673px;
  border-radius: 50px;
  background: rgba(89, 165, 159, 1);
  color: rgba(0, 0, 0, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
}
}
@media only screen and (min-width: 1200px) {
  .crearp{
    position: relative;
    width: 1280px;
    height: 800px;
    left: -21px;
    top: 0px;
    background: rgba(145, 208, 204, 1);
  }
  .btn{
    font-size: 25px;
    background-color: rgba(145, 208, 204, 1);
  }

.btn-info{
  margin-left: 50px;
  margin-right: 100px;
  width: 550px;
  height: 90px;
  background-color: rgba(145, 208, 204, 1);
}
.botones{
  display: flex;
  justify-content: space-between;
}
.btn-warning{
  margin-left: 100px;
  margin-right: 50px;
  width: 550px;
  height: 76;
  background-color: rgba(145, 208, 204, 1);
}
.primerc {
    position: absolute;
    width: 1280px;
    height: 226px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .titulo {
    width: 513px;
    height: 60px;
    margin: 30px 50px 20px 70px;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
  }
  .isesion {
    width: 174px;
    height: 30px;
    left: 794px;
    top: 45px;
    position: absolute;
    color: rgba(89, 165, 159, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .isesion:hover{
    text-decoration: underline;
  }
  .ccuenta {
    width: 172px;
  height: 30px;
  left: 1061px;
    position: absolute;
  top: 45px;
  color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .ccuenta:hover{
    text-decoration: underline;
  }
  .linea {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: -24px;
    border: solid 2px rgba(248, 250, 250, 1);
    display: flex;
  }
  .crear {
    position: absolute;
    width: 559px;
    height: 77px;
    left: 33px;
    top: 102px;
    border-radius: 10px;
    background: rgba(89, 165, 159, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Song Myung';
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
  }
  .buscar {
    position: absolute;
    width: 559px;
    height: 76px;
    left: 688px;
    top: 102px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(243, 243, 243, 1);
    color: rgba(89, 165, 159, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  }
  .nombrep {
    position: absolute;
    width: 633px;
    height: 79px;
    left: 29px;
    top: 244px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .codigo {
    position: absolute;
    width: 633px;
    height: 79px;
    left: 29px;
    top: 349px;
    border-radius: 15px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
  }
  .descripcion {
    position: absolute;
    width: 633px;
    height: 79px;
    left: 29px;
    top: 450px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px;
  }
  .marca {
    position: absolute;
    width: 633px;
    height: 79px;
    left: 29px;
    top: 556px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 400;
    border-radius: 15px;
    line-height: 1.2;
  }
  .unidades {
    position: absolute;
    width: 633px;
    height: 79px;
    left: 29px;
    top: 661px;
    background: rgba(243, 243, 243, 1);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 15px;
    font-weight: 400;
    line-height: 1.2;
  }
  .imagenes{
    position: absolute;
  width: 408px;
  height: 408px;
  left: 781px;
  top: 240px;
  }
  .subirarchivo{
  position: absolute;
  width: 281px;
  height: 77px;
  left: 945px;
  top: 673px;
  border-radius: 50px;
  background: rgba(89, 165, 159, 1);
  color: rgba(0, 0, 0, 1);
  font-family: 'Song Myung';
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
}
}