body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../Images/Imagen6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel-inner {
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 30%;
    height: auto;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    color: #777;
    font-size: 18px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

/* Estilos responsivos */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    p, a {
        font-size: 16px;
    }
}
